<mat-card class="dinosaur-card mx-2 my-1">
  <mat-card-header>
    <mat-icon color="accent">science</mat-icon>
    <mat-card-title>
      {{dinosaurDescription.dinoName}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="p-1">
  <img mat-card-image class="img-200" src="{{dinosaurDescription.dinoImg}}" alt="{{dinosaurDescription.dinoName}}">
  </mat-card-content>
  <mat-card-content class="min-height-80">
    <p>{{dinosaurDescription.dinoDescription}}</p>
  </mat-card-content>
  <mat-card-content class="card-center">
    <mat-card-actions>
      <button mat-raised-button color="primary">Details</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
