.dinosaur-card{
  max-width: 400px;
}

.card-center{
  display: flex;
  justify-content: center;
}


.img-300{
  height: 300px;
  width: 100%;
}

.min-height-80{
  min-height: 80px;
}

.dino-details-wrapper{
  display: flex;
  justify-content: center;
}
